langchain-core
python-telegram-bot==22.3
langchain-google-genai
langchain-community
langchain-openai
langgraph
python-dotenv
pydantic
tavily-python
wikipedia
Flask-SocketIO==5.3.6
flask==2.3.3
flask-cors==4.0.0
python-socketio==5.11.0
gunicorn==21.2.0
eventlet==0.33.3